<p>register works!</p>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="tit_registro">Registro</h2>
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="confirm-password" placeholder="Confirmar Contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary btn-register">Registrarse</button>
            </form>
            <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
        </div>
    </div>
</div>