<p>recovery works!</p>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="tit_recuperar">Recuperar Contraseña</h2>
            <p>Ingresa tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
            <form>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" required>
                </div>
                <button type="submit" class="btn btn-primary btn-register">Enviar Enlace de Recuperación</button>
            </form>
            <p>¿Recuerdas tu contraseña? <a routerLink="/login">Inicia sesión aquí</a></p>
        </div>
    </div>
</div>